:root {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Verdana, sans-serif;
  background: rgb(20, 41, 83);
  background: radial-gradient(
    circle,
    rgba(20, 41, 83, 1) 14%,
    rgba(9, 9, 121, 1) 53%,
    rgba(122, 50, 226, 1) 90%
  );
  color: #abb7ce;
  width: 100%;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Sunny love";
  src: local("Sunny love"), url(/assets/Sunny.Love.ttf);
  font-weight: bolder;
}

/*general pages' style*/
#home,
#projects,
#skills,
#footer {
  scroll-snap-align: start;
  width: inherit;
  height: 97dvh;
  padding: 2%;
}

/*home page*/
.home {
  padding: 2%;
  display: grid;
  grid-template-rows: 1fr 7fr;
}
/*logo and text*/
.header {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.logo p {
  border-left: solid 1px rgb(68, 67, 67);
  color: aliceblue;
  font-weight: bold;
  font-size: clamp(0.8rem, 2dvw, 1rem);
  padding-left: 7.5%;
  text-shadow: 1px 1px 3px #333;
}
.headerImg {
  height: clamp(16px, 2dvw, 21px);
  padding-right: 4%;
}
/*navbar*/
.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  place-items: center;
  gap: 3.5%;
  height: 2rem;
  max-height: 5%;
  width: 35%;
  max-width: 300px;
  right: 5%;
  top: 4.5%;
  border: solid 2px #bbbfc7;
  border-radius: 2rem;
  z-index: 10;
  padding-block: 0.5%;
}

.fa-solid {
  color: #dde3f0;
  font-size: clamp(1.15rem, 2dvw, 1.5rem);
  text-shadow: 1px 1px 2px #333;
}
.fa-solid:hover {
  color: #cf87b3;
}
.homeSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  word-wrap: wrap;
}
.paragraph {
  font-size: clamp(1.1rem, 2.3dvw, 1.7rem);
  line-height: 150%;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 5px #333;
  text-align: center;
}
.span {
  color: rgb(200, 122, 231);
  font-style: italic;
  font-weight: bold;
  display: inline;
}
.welcome {
  animation: colorChange 10s steps(7) 1s forwards infinite;
}
@keyframes colorChange {
  0%,
  20% {
    color: rgb(238, 174, 202);
    color: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  50%,
  80% {
    color: rgb(34, 193, 195);
    color: linear-gradient(
      0deg,
      rgb(95, 237, 240) 80%,
      rgba(238, 174, 202, 1) 20%
    );
  }
  100% {
    color: rgba(238, 174, 202, 1) 20%;
  }
}
.welcome {
  position: relative;
  font-family: "Sunny love";
  bottom: 0.5rem;
}
.homeImage {
  display: block;
  width: 85%;
  max-width: 400px;
}

/*skills section*/
#skills {
  padding-bottom: 2%;
  inset: 10% 2% 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #abb7ce;

  .skillsText {
    width: 70%;
    max-width: 700px;
    min-width: 300px;
    padding: 3%;
    font-size: calc(60% + 1dvw);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px #31353a;
    line-height: 1.5rem;
  }
  .skillsText h2 {
    color: #c87ae7;
    letter-spacing: 0.3rem;
    padding-bottom: 5%;
  }

  .skillsIcons {
    width: 60%;
    max-width: 550px;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .skillsImg {
    padding: 5px;
    width: 15%;
    min-width: 40px;
  }
}

/*projects section*/
#projects {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.projectsText,
.buttonsDiv {
  font-size: clamp(1rem, 60% + 1dvw, 2rem);
  line-height: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 5px #252222;
}
.projectsText {
  opacity: 1;
  padding-top: 2%;
  width: 90%;
  max-width: 600px;
  text-align: center;
}
.projectsText h2 {
  color: rgb(200, 122, 231);
  letter-spacing: 0.25rem;
  padding-bottom: 5%;
}
.buttonsDiv {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
.projects {
  width: 45%;
  min-width: 130px;
  height: 20%;
  min-height: 120px;
  text-align: center;
  margin-top: 10%;
  color: #ce92ec;
  font-size: clamp(0.55rem, 1dvw, 3rem);
  text-shadow: 2px 5px 5px #340941;
}
.projects h1 {
  margin-top: -5px;
}
.projIcon {
  cursor: pointer;
  width: 40%;
  max-width: 120px;
}

.card-container {
  position: absolute;
  opacity: 0;
  transition: opacity 0s ease;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(51, 36, 58, 0.75);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(13, 14, 13);
}
.card {
  position: absolute;
  display: grid;
  grid-template-rows: min-content;
  margin: 0 30px;
  width: 20rem;
  height: 18rem;
  background: rgb(252, 184, 200);
  background: radial-gradient(
    circle,
    rgba(252, 184, 200, 1) 4%,
    rgba(175, 221, 249, 1) 53%,
    rgba(198, 161, 251, 1) 100%
  );
  box-shadow: 5px 4px 6px rgba(0, 7, 2, 0.1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: black;

  .projImg {
    border-radius: 5px;
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .projTitle,
  .projDesc {
    padding-top: 0.5rem;
  }
}
.skillsButton {
  border: none;
  background: none;
  cursor: pointer;
}
.navBarHide {
  opacity: 0;
}
.projectsTextHide {
  opacity: 0;
}
.buttonsDivHide {
  opacity: 0;
}
.showCardContainer {
  opacity: 1;
  transition: opacity 0.7s ease;
  min-height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .skillsButton {
    position: relative;
    bottom: 35dvh;
  }
  .skillsButton:hover {
    box-shadow: none;
  }
  .card {
    position: relative;
    display: inline-block;
  }
  .card1:hover,
  .card2:hover,
  .card3:hover {
    transform: scale(1.1);
  }
}

/*contacts section*/
#footer {
  color: rgb(220, 236, 250);
  padding: 0;
  margin-inline: 0;
  display: grid;
  width: inherit;
}
.main-bg {
  margin-top: auto;
  background-color: rgb(11, 11, 46);
  min-height: 70dvh;
  border-radius: 2rem 2rem 0 0;
  padding-bottom: 2%;
  text-shadow: 1px 1px 2px #0f0f11;
  background-image: url("./assets/25552\(1\).jpg");
  background-size: contain;
}
.contact-form-section {
  display: grid;
  row-gap: 1rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background: rgb(21, 18, 87);
  background: linear-gradient(
    166deg,
    rgba(21, 18, 87, 1) 4%,
    rgba(9, 9, 121, 1) 46%,
    rgba(124, 0, 255, 1) 93%
  );
  color: #fcf8f8;
  padding: 1.5rem;
  width: 80%;
  max-width: 500px;
  margin-top: -3rem;
  box-shadow: 2px 3px 4px #0f0f11;
  border-radius: 2rem 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-weight: bold;
  font-size: clamp(0.2rem, 0.8rem + 0.25dvw, 20px);
  margin-inline: auto;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(253, 238, 238);
  width: 90%;
  font-size: 1rem;
  color: #dfc9f8;
}
#user-email {
  margin-top: 0.5rem;
}
input:focus,
textarea:focus {
  outline: none;
  color: #dfc9f8;
}
#footer button {
  align-self: flex-end;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2b0235;
  border: none;
  border-radius: 1.5rem;
  padding: 0.3rem 1.5rem;
  margin-right: 5%;
  text-shadow: 1px 1px 5px #7c468b;
}
#footer h1,
#footer h3 {
  text-indent: 1rem;
  line-height: 1.6;
  padding: 3%;
  font-size: clamp(1rem, 0.5dvw, 2rem);
}
#footer h1 {
  font-size: clamp(1.5rem, 0.5dvw, 3rem);
}

#footer h4 {
  color: #8c53ce;
  font-size: clamp(1rem, 0.5dvw, 2rem);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
#footer ul > li {
  display: inline-block;
  list-style-type: none;
  padding-left: 4%;
}
.contacts-list a {
  text-decoration: none;
  color: inherit;
  font-size: small;
}
.contacts-list a:hover {
  color: #cf87b3;
}

@media (min-width: 860px) {
  .paragraph {
    margin-left: -0.5rem;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-shadow: 2px 2px 5px #333;
    text-align: left;
  }
  .navBar {
    gap: 5%;
    top: 6%;
  }
  .skillsText h3 {
    text-align: left;
    text-indent: 25px;
    line-height: 2rem;
    padding-top: 5%;
  }
  .projectsText {
    line-height: 2.5rem;
    padding-bottom: 2%;
  }
  .main-bg {
    background-size: cover;
  }
  .contact-form-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4.5%;
  }
  .contact-form {
    flex-grow: 1;
    width: 45%;
    margin-right: 2%;
  }
  #footer h1 {
    align-self: center;
    padding-left: 3%;
  }
  .contact-para-section {
    display: flex;
    align-items: center;
    padding-inline: 2%;
    gap: 15%;
    margin-top: 3%;
  }
  .contacts-list {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 140px);
  }
  #footer ul > li {
    display: flex;
    padding-left: 15%;
    padding-bottom: 5%;
  }
}
